# PostgreSQL
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_db_name_here

# App
ALGORITHM=your_algorithm_here
ACCESS_TOKEN_EXPIRE_MINUTES=your_expire_minutes_here
